<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itsmyapp.intercept">

    <application
        android:label="Intercept"
        android:icon="@mipmap/ic_launcher">
        <service
            android:name=".InterceptListenerService"
            android:label="Intercept Notification Listener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />

</manifest>
